<html ng-app="myApp" ng-app lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Compass Holding</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style type="text/css" media="screen">
    textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}  
.loading {
    position: fixed;
    top: 50%;
    z-index: 99999;
    left: 50%;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.0);
    margin-top: -50px;
    color:white;
    padding:25px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 22px;
}


videoLoading{
  border: 0px;
    left: 0px;
    border-radius: 0px;
    position: fixed;
    top: 0;
    z-index: 9990;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100%;
}



  </style>

</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="PollCtrl">


                <form novalidate=""  class="survey form">
                <br>
                  <div class="form-group">
                    <!-- <label for="surveytitle">Survey-titel</label> -->
                    <input type="text" class="form-control col-md-6" ng-model="survey.title" id="surveytitle" placeholder="Enter a Survey Title" />
                  </div>
                  <Br>
                  <div class="col-md-12 well" id="questions" ng-repeat="question in survey.questions">
                    <span class="btn btn-danger pull-right" title="Remove this question" ng-click="remove(question, survey.questions)" ng-if="$index > 0">X</span>
                    <div class="form-group">
                      <h3>Question {{ $index+1 }}</h3>
                      <input type="text" class="form-control" ng-model="question.title" name="" placeholder="Enter a question" />
                    </div>
                    <div class="row">
                      <div class="col-xs-10" id="answers" ng-repeat="answer in question.answers">
                        <div class="form-group">
                          <label for="answer" class="control-label">Answer {{ $index+1 }}</label>
                          <div class="input-group col-md-12">
                            <input type="text" required="" placeholder="Type answer here" class="form-control input-sm" name="" ng-model="answer.title" />
                            <span class="input-group-addon input-sm">
                              <input type="checkbox" title="Mark as correct answer" checked="" ng-model='answer.correct' ng-true-value="1" ng-false-value="0" ng-click="uncheckSiblings(answer, question.answers)"/>
                            </span> 
                            <span class="input-group-btn" ng-click="remove(answer, question.answers)">
                              <button class="btn btn-danger btn-sm" type="button" title="Remove this answer" ng-show="$index > 1">X</button>
                            </span>
                          </div>
                        </div>
                        <button class="btn btn-primary" ng-show="$last" ng-click="addNewAnswer()" >+ Add another answer</button>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <button class="btn btn-primary" ng-click="addNewQuestion()">+ Add another question</button>
                  <!--<div class="col-md-12">
                    <br />
                    <b>Data</b>
                    <pre>{{ survey | json }}</pre>
                  </div>-->
                </form>
                <br>
                <br>
                <input type="number" class="form-control col-md-4" ng-model="minimumScore" id="surveytitle" placeholder="Minimum score to pass" />
                <br>
                <br>
                <button type="button" class="btn btn-info" ng-click="createTest(minimumScore, question)">Submit Test</button>


<!-- jQuery 2.2.3 -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.25&key=AIzaSyC0HjnERWUOW8BnBdQ6t8Ylt_Dmsv4mWD4&sensor=false&v=3.21.5a&libraries=drawing&signed_in=true&libraries=places,drawing"></script>
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.8/textAngular-rangy.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.8/textAngular-sanitize.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.8/textAngular.min.js'></script>

<script src='https://angular-file-upload.appspot.com/js/ng-file-upload-shim.js'></script>
<script src='https://angular-file-upload.appspot.com/js/ng-file-upload.js'></script>
<script src='https://rawgit.com/CrackerakiUA/ngImgCropFullExtended/master/compile/unminified/ng-img-crop.js'></script>


<script src="../js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<!-- DataTables -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/app.min.js"></script>
<script src="../js/ng-tags-input.min.js"></script>
<script src="../js/angular-base64.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<script src="../js/videoCtrl.js"></script>
<!-- page script -->
</body>
</html>
