<html ng-app="myApp" ng-app lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Compass Holding</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="PollCtrl">


                <form novalidate=""  class="survey form">
                <br>
                  <div class="form-group">
                    <!-- <label for="surveytitle">Survey-titel</label> -->
                    <input type="text" class="form-control col-md-6" ng-model="survey.title" id="surveytitle" placeholder="Enter a Survey Title" />
                  </div>
                  <Br>
                  <div class="col-md-12 well" id="questions" ng-repeat="question in survey.questions">
                    <span class="btn btn-danger pull-right" title="Remove this question" ng-click="remove(question, survey.questions)" ng-if="$index > 0">X</span>
                    <div class="form-group">
                      <h3>Question {{ $index+1 }}</h3>
                      <input type="text" class="form-control" ng-model="question.title" name="" placeholder="Enter a question" />
                    </div>
                    <div class="row">
                      <div class="col-xs-10" id="answers" ng-repeat="answer in question.answers">
                        <div class="form-group">
                          <label for="answer" class="control-label">Answer {{ $index+1 }}</label>
                          <div class="input-group col-md-12">
                            <input type="text" required="" placeholder="Type answer here" class="form-control input-sm" name="" ng-model="answer.title" />
                            <span class="input-group-addon input-sm">
                              <input type="checkbox" title="Mark as correct answer" checked="" ng-model='answer.correct' ng-true-value="1" ng-false-value="0" ng-click="uncheckSiblings(answer, question.answers)"/>
                            </span> 
                            <span class="input-group-btn" ng-click="remove(answer, question.answers)">
                              <button class="btn btn-danger btn-sm" type="button" title="Remove this answer" ng-show="$index > 1">X</button>
                            </span>
                          </div>
                        </div>
                        <button class="btn btn-primary" ng-show="$last" ng-click="addNewAnswer()" >+ Add another answer</button>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <button class="btn btn-primary" ng-click="addNewQuestion()">+ Add another question</button>
                  <!--<div class="col-md-12">
                    <br />
                    <b>Data</b>
                    <pre>{{ survey | json }}</pre>
                  </div>-->
                </form>
                <br>
                <br>
                <input type="number" class="form-control col-md-4" ng-model="minimumScore" id="surveytitle" placeholder="Minimum score to pass" />
                <br>
                <br>
                <button type="button" class="btn btn-info" ng-click="createTest(minimumScore, question)">Submit Test</button>


      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
      <script src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.8/textAngular-rangy.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.8/textAngular-sanitize.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.8/textAngular.min.js'></script>

      <script src="videoCtrl.js"></script>

</body>
</html>
