<!DOCTYPE html>
<html ng-app="myApp">
<head >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
  <script src="math.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style type="text/css" media="screen">
.loading {
    position: fixed;
    top: 50%;
    z-index: 99999;
    left: 50%;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.0);
    margin-top: -50px;
    color:white;
    padding:25px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 22px;
}


videoLoading{
  border: 0px;
    left: 0px;
    border-radius: 0px;
    position: fixed;
    top: 0;
    z-index: 9990;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100%;
}  
</style>
</head>
<body ng-controller="MainCtrl">
<loading></loading>
     <div style="width: 100%; margin-top: 50px; text-align: center;">
        <h2>{{videoDetails.videoName}}</h2>
     </div>
     <div style="width: 100%; margin-top: 150px; text-align: center;">
      <video id="videoITA" some-video video-current-time="currentTime" ng-src="{{videoDetailsUrl}}" controls controlsList="nodownload" width="800px" height="auto" style="margin-left: auto; margin-right: auto;"></video>
    </div>

   <div class="modal fade" id="modal-id" >
   	<div class="modal-dialog">
   		<div class="modal-content">
   			<div class="modal-header">
   				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   				<h4 class="modal-title">{{formData.title || 'Survey Title'}}</h4>
   			</div>
   			<div class="modal-body">
            <form id="poll">
              <div class="pollimg" ngf-background="formData.file"></div>
              <fieldset ng-repeat="question in formData.questions" ng-show="$index == step">
                <h3>{{question.title || 'Question ' + question.id}}</h3>
                <div class="radio" ng-repeat="answer in question.answers">
                  <label>
                    <input type="radio" ng-model="question.answer" name="optionsRadios{{answer.id}}" id="optionsRadios{{answer.id}}" value="{{answer.id-1}}" />
                      {{answer.title || 'Answer ' + answer.id}}
                </label>
                </div>
              </fieldset>
              <div class="formnav">
                <button class="btn btn-primary btn-sm col-md-4" ng-show="step > 0" ng-click="setStep(-1)">Previous Question</button>
                <button class="btn btn-primary btn-sm col-md-4 pull-right" ng-hide="step == formData.questions.length -1" ng-if="formData.questions[step].answer" ng-click="setStep(1)">Next Question</button>
                <div class="clearfix"></div>
              </div>
              <div class="row">
                <br>
                <button id="submit" class="btn btn-success btn-sm col-md-offset-4 col-md-4" ng-show="(step + 1 == formData.questions.length) && formData.questions[step].answer" ng-click="posaljiRezultat()">Submit</button>
              </div>
            </form>  				
   			</div>
   		</div>
   	</div>
   </div>


<div class="modal fade" id="tacno">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Quiz passed!</h2>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="netacno">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Quiz not passed!</h2>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
 
var app = angular.module('myApp', []);


app.filter('trustAsResourceUrl', ['$sce', function ($sce) {
    return function (val) {
        return $sce.trustAsResourceUrl(val);
    };
}]);  

app.controller('MainCtrl', function ($scope,$timeout,$http,$location, $rootScope) {

var video = document.getElementById("videoITA");
var previousTime = 0;
video.addEventListener("timeupdate", function(event) {
    previousTime = video.currentTime;
});

video.addEventListener("seeking", function(event) {
    if (video.currentTime > previousTime)
        video.currentTime = previousTime;
}); 

    $scope.step = 0;
    $scope.currentTime = 0;
    // video.html#?videoId=1 -> url !!!
    console.log($location.search().videoId);

    $http.get('inc/getVideo.php?videoID='+$location.search().videoId,  {headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).success(function(data) {
        $scope.videoDetails = data[0];
        $scope.videoDetailsUrl='files/'+data[0].url;
        $scope.formData=JSON.parse(atob($scope.videoDetails.quiz));

    });
    $scope.$watch('currentTime', function() {
    
          var durationVideo = document.getElementById("videoITA");


          if($scope.currentTime == durationVideo.duration){
          console.log('kraj');
          durationVideo.webkitExitFullScreen();
          $('#modal-id').modal('show'); 
          }
    });

    $scope.setStep = function(num) {
        $scope.step += num;
    };
    
    $scope.posaljiRezultat = function(){
        $scope.loading = true
        var rezultati=$scope.formData.questions;
        var suma=0;

         for(var i = 0; i < rezultati.length; i++) {
            var odgovor = rezultati[i].answer;
            if(rezultati[i].answers[odgovor].correct){suma++;}
            if(i+1 == rezultati.length){

                    $scope.loading = false;
               
            if(suma>=$scope.videoDetails.minimumScore)
                {$('#modal-id').modal('hide');$('#tacno').modal('show');}
                else {$('#modal-id').modal('hide');$('#netacno').modal('show');}

            }
        }
        
    }

});



app.directive('loading', function () {
      return {
        restrict: 'E',
        replace:true,
        template: '<videoLoading><div class="loading">Please wait ...</div></videoLoading>',
        link: function (scope, element, attr) {
              scope.$watch('loading', function (val) {
                  if (val)
                      $(element).show();
                  else
                      $(element).hide();
              });
        }
      }
  });

app.directive('someVideo', function ($window, $timeout) {
    return {
        scope: {
            videoCurrentTime: "=videoCurrentTime"
        },
        controller: function ($scope, $element) {

            $scope.onTimeUpdate = function () {
                var currTime = $element[0].currentTime;
                if (/*currTime - $scope.videoCurrentTime > 0.5 || */ $scope.videoCurrentTime - currTime > 0.5) { 
                    $element[0].currentTime = $scope.videoCurrentTime;
               }
                $scope.$apply(function () {
                    $scope.videoCurrentTime = $element[0].currentTime;
                });
            }
        },
        link: function (scope, elm) {

            elm.bind('timeupdate', scope.onTimeUpdate);
        }
    }
});




(function () {
  var video = document.getElementById('videoITA'),
       previousTime = 0;

  video.addEventListener('timeupdate', function (evt) {
    if (!video.seeking) {
        previousTime = Math.max(previousTime, video.currentTime);
    }
  }, false);

  video.addEventListener('seeking', function (evt) {
    console.log('seeking', video.currentTime, previousTime);
    if (video.currentTime > previousTime || video.currentTime < previousTime) {
      video.currentTime = previousTime;
      console.log('reset time to ', video.currentTime);
    }
  }, true);
}());




</script>



</body>
</html>