<!DOCTYPE html>
<html ng-app="myApp">
<head >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="manifest.json">
	<title></title>

  <script src="math.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js"></script>
  <script type="text/javascript">
		              var _c = new Date().getTime();
              document.write('<script type="text/javascript" src="watchAssigned.js?c='+_c+'"><\/script>');

</script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style type="text/css" media="screen">
.loading {
    position: fixed;
    top: 50%;
    z-index: 99999;
    left: 50%;
    margin-left: -125px;
    background-color: rgba(0, 0, 0, 0.0);
    margin-top: -50px;
    color:white;
    padding:25px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 22px;
}

video{
  height: 99vw;
  width: auto;
}

body{
  background: black;
  transform: rotate(90deg)!important;
  -webkit-transform:rotate(90deg)!important;
}

videoLoading{
  border: 0px;
    left: 0px;
    border-radius: 0px;
    position: fixed;
    top: 0;
    z-index: 9990;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100%;
}  
label{
  font-size: 22px;
}
</style>
</head>
<body ng-controller="MainCtrl">
<loading></loading>
     <div style="width: 100%; text-align: center;">
      <video id="videoITA" some-video video-current-time="currentTime" ng-src="{{videoDetailsUrl}}" autoplay controls controlsList="nodownload" height="auto" style="margin-left: auto; margin-right: auto;"></video>
    </div>

   <div class="modal fade" id="modal-id" data-keyboard="false" data-backdrop="static" >
   	<div class="modal-dialog">
   		<div class="modal-content">
   			<div class="modal-header">
   				<h4 class="modal-title">{{formData.title || 'Survey Title'}}</h4>
   			</div>
   			<div class="modal-body">
            <form id="poll">
              <div class="pollimg" ngf-background="formData.file"></div>
              <fieldset ng-repeat="question in formData.questions" ng-show="$index == step">
                <h3>{{question.title || 'Question ' + question.id}}</h3>
                <div class="radio" ng-repeat="answer in question.answers">
                  <label>
                    <input type="radio" ng-model="question.answer" name="optionsRadios{{answer.id}}" id="optionsRadios{{answer.id}}" value="{{answer.id-1}}" />
                      {{answer.title || 'Answer ' + answer.id}}
                </label>
                </div>
              </fieldset>
              <div class="formnav">
                <button class="btn btn-primary btn-sm col-md-4" ng-show="step > 0" ng-click="setStep(-1)">Previous Question</button>
                <button class="btn btn-primary btn-sm col-md-4 pull-right" ng-hide="step == formData.questions.length -1" ng-if="formData.questions[step].answer" ng-click="setStep(1)">Next Question</button>
                <div class="clearfix"></div>
              </div>
              <div class="row">
                <br>
                <button id="submit" class="btn btn-success btn-sm col-md-offset-4 col-md-4" ng-show="(step + 1 == formData.questions.length) && formData.questions[step].answer" ng-click="posaljiRezultat()">Submit</button>
              </div>
            </form>  				
   			</div>
   		</div>
   	</div>
   </div>


<div class="modal fade" id="tacno">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Quiz passed!</h2>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="netacno">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Quiz not passed!</h2>
      </div>
    </div>
  </div>
</div>

</body>
</html>